@model ProductDetailsModel
@if (Model.AskQuestionEnabled)
{
    <button type="button" value="@T("Products.AskQuestion")" class="btn ask-a-question-button" onclick="setLocation('@Url.RouteUrl("AskQuestion", new { productId = Model.Id })')" data-toggle="tooltip" data-placement="bottom" title="@T("Products.AskQuestion")">
        <span class="lni lni-question-circle icon"></span>
        <span class="d-xl-inline d-none">@T("Products.AskQuestion")</span>
    </button>
}